{% extends "IntraModuleBundle::layout.html.twig" %}

{% block title %}
  Ajouter un bareme - {{ parent() }}
{% endblock %}

{% block intramain_body %}

<h4>Ajouter un bareme</h4>

{% include 'IntraModuleBundle:Formulaire:bareme.html.twig' 
     with {'id' : activite.id} %}


{% endblock %}