{% extends "::layout.html.twig" %}

{% block title %}
   Administration - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Administration</h2>
  
  <hr>

  {% block intramain_body %}
  {% endblock %}

{% endblock %}