{% extends "::layout.html.twig" %}

{% block title %}
   Compte - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Compte</h2>
  
  <hr>

  {% block intramain_body %}
  {% endblock %}
  {% block fos_user_content %}
  {% endblock %}

{% endblock %}