{% extends "::layout.html.twig" %}

{% block title %}
   Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Accueil</h1>
  
  <hr>

  {% block intramain_body %}
  {% endblock %}

{% endblock %}